main {
    position: absolute;
    display: flex;
    justify-content: center;
    height: auto;
    padding: 5% 0;
    margin: 0;
    z-index: 1;
}

main article, main section {
    width: 40%;
}

main article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}

main article p {
    display: block;
}

main article a {
    color: red !important;
}

main section {
    display: flex;
    justify-content: center;
    align-items: center;
}

main section figure {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: gray;
}

main section figure img {
    width: 70%;
}