* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

a:link, a:visited {
    text-decoration: none;
    color: #000;
}

body {
    height: 100vh;
    margin: 0;
}

nav {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    background: #fff;
    background: url("img/snow4.gif");
    border-bottom: #000 solid 2px;
}

nav h2 {
    margin: 0;
    display: block;
    font-size: 35px;
}

nav h2 a:hover {
    letter-spacing: 1px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    padding: 0 15px;
    font-size: 20px;
}

nav ul li a:hover {
    background: #000;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
}

footer {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2;
    border-top: #000 solid 2px;
    background: url("img/snow4.gif");
}

nav ul li a, nav h2 a{
    transition: 0.5s;
}