main {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    top: 10%;
    bottom: 10%;
    z-index: 1;
}

section {
    display: flex;
    flex-direction: column;
}

section h2 {
    font-size: 50px;
    text-align: center;
}

section p {
    font-size: 25px;
}